
@font-face {
    font-family: ddinbold;
    src: url('fonts/D-DIN-Bold.woff2') format('woff2'); /* Super Modern Browsers */
    src: url('fonts/D-DIN-Bold.woff') format('woff'), /* Super Modern Browsers */
         url('fonts/D-DIN-Bold.ttf') format('truetype'), /* Super Modern Browsers */
         url('fonts/D-DIN-Bold.otf') format('otf'), /* Super Modern Browsers */
  }

  @font-face {
    font-family: ddin;
    src: url('fonts/D-DIN.woff2') format('woff2'); 
    src: url('fonts/D-DIN.woff') format('woff'), 
         url('fonts/D-DIN.ttf') format('truetype'), 
         url('fonts/D-DIN.otf') format('otf'), 
  }

  .logo {
    height: 2vw;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin-right: 20px;
  }

  .smart-scroll{
    position: fixed;
    z-index: 1030;
  }

  .scrolled-down{
    opacity: 0;
    transition: all 0.3s ease-in-out;
 }
 .scrolled-up{
    opacity: 1;
    transition: all 0.3s ease-in-out;
 }


/** Hover-related CSS **/
a.left
{
    position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 100%;
}

.bg-image {
  width: 100%;
  height: 100%;
  background-image: url("assets/controls.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

button.below
{
    position: relative;
    color: #FFF;
}

button.below:before {
  content: "";
  position: absolute;
  width: 170px;
  height: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

button.below:hover:before {
  visibility: visible;
  height:100%;
}

button.below:hover{
  color: black;
}

  body::-webkit-scrollbar {
    display: none;
  }
  

  
  body {
    font-family: 'ddinbold','ddin', Fallback, sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-x: hidden;
  }


  h5 {
    font-family: 'ddin','ddin', Fallback, sans-serif;
    font-size: 2vh;
  }

  h4 {
    font-family: 'ddin', Fallback, sans-serif;
  }

  button {
    font-family: 'ddinbold', Fallback, sans-serif;
  }

  a {
    font-family: 'ddinbold', Fallback, sans-serif;
    font-size: 14px;
    
  }

  svg {
    width: 100px;
    height: 100px;
    margin: 20px;
    display:inline-block;
  }

  